/*===============================PART 1====================================*/
body {
    background-color: rgb(70, 139, 179);
    font-weight: bold;
    margin-top: 10%;
    padding: 10px;
    text-align: center;
  }
table {
  border: 4px solid rgb(7, 74, 136);
  border-collapse: collapse;
  display: inline-block;
  padding: 20px;
}
th, td {
  border-bottom: 1px dotted rgb(5, 2, 2);
}
#highlight {
  background-color: gold;
}

/*===============================THE END====================================*/